<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center"><a href="https://angular.io"><img height="20px" width="20px" src="assets/images/angular-icon-vector.png"/>
        </a><span style="margin-left: -3px">ngular blog, maintained by @BodanskyA</span></p>
        <div class="text-center">
          <a href="https://twitter.com/DmBodansky?lang=hu" class="fa fa-2x fa-twitter"></a>
          <a href="https://gitlab.com/badam1" class="fa fa-2x fa-gitlab"></a>
          <a href="https://github.com/badam1" class="fa fa-2x fa-github"></a>
          <a href="https://www.facebook.com/adam.bodansky" class="fa fa-2x fa-facebook"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
