<nav class="navbar navbar-toggleable-md bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar">
    <a class="navbar-brand text-uppercase" routerLink="/home">
      <img src="assets/images/angular-icon-vector.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="margin-left: -7px">ngular blog</span>
    </a>
  </nav>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="docs" routerLinkActive="active"><i class="fa fa-book"></i> Docs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="links" routerLinkActive="active"><i class="fa fa-link"></i> Links</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input id="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
    <ul class="navbar-nav mr-5">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false"><i class="fa fa-user"></i> Username</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="signin" routerLinkActive="active">SignIn</a>
          <a class="dropdown-item" routerLink="signup" routerLinkActive="active">SignUp</a>
          <a class="dropdown-item" routerLink="signout" routerLinkActive="active">SignOut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
