.navbar {
  height: 100px;
  background-color: #F0E68C;
}

.navbar-brand {
  color: #1976D2;
  margin-top: 23px;
}

a.nav-link.active {
  color: #1976D2;
  text-shadow: 1px 1px #222222;
}

a.nav-link {
  color: #C30E2E;
}

a:hover, a.nav-link:hover {
  cursor: pointer;
  color: #1976D2;
  text-shadow: 1px 1px #222222;
}
#searchInput {
  color: #1976D2;
  border-radius: 100px;
  width: 70%;
  transition: width .4s ease-in-out;
  transition-property: width;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

#searchInput:focus {
width: 100%;
}

